<?xml version="1.0"?>
<launch>
	<arg name="pkg_cob_phidgets" default="$(find cob_phidgets)"/>

	<node pkg="cob_phidgets" type="phidget_toolchanger" name="cob_phidgets_toolchanger" cwd="node" output="screen">
		<rosparam file="$(arg pkg_cob_phidgets)/ros/config/phidget_config_toolchanger.yaml" command="load" />
	</node>
</launch>

